<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keertech.regie_phone">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- sdcard状态监听所需权限begin -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- sdcard状态监听所需权限end -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".RegieApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.XZFWMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.SystemSetting.SystemSettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.MyLocationMapActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.RCFW.ServiceInfoAcitvity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.RCFW.ImageActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Utility.ImagePagerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.ServicePlan.ServicePlanInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.ServicePlan.AddServicePlanAcvitivy"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.ServiceRecord.ServiceRecordInfoListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.ServiceRecord.ServiceRecordInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.XZFW.ServiceRecord.LookImageActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.ProblemCheckingMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.CheckingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.AddDepartmentCheckingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.AddCustomerDepartmentCheckingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.ChooseCustomerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.AddNotHasLicenseActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.DepartmentCustomerCheckingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemChecking.DepartmentChecking.CheckedReportActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ReportComplanints.ReportComplanintsMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ReportComplanints.Finished.FinishedActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfoMainFragmentActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerMapActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.CustomerInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.OrdergoodsActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.OrdergoodsInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.PunishActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.PunishInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.MapTestActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.PersonnelLocationMapActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.CustomerInfo.CustomerPicturesActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CustomerInfo.AllCityCustomerInfo.CustomerInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.NothaveLicenseCustomer.NothaveLicenseCustomerMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.NothaveLicenseCustomer.NothaveLicenseCustomerInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.NothaveLicenseCustomer.NothaveLicenseCustomerAddActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.VisitCheckMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.ThePlaceResponsibility.ThePlaceResponsibilityInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.MyselfResponsibility.MyselfResponsibilityInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.MyselfResponsibility.ChooseCustomerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.MyselfResponsibility.ChooseNotHasLicenseActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.VisitCheck.SuperintendentVerify.SuperintendentVerifyInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.RandomCheck.RandomCheckMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.RandomCheck.RandomCheckInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.SalesInteraction.SalesInteractionMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.SalesInteraction.CustomerInformationReportTableActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.SalesInteraction.NotHaveLicenseCustomerInformationReportTableActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.ProblemListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.ReportComplaintActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.CaseSuperViseActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.PapersDeadlineActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.MarketSurveyActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.ProblemList.APCDFeedbackActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CommonPosition.CommonPositionListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.CommonPosition.CommonMapActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.Prospecting.ProspectingListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.Prospecting.ProspectingInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.PurchasePrice.PurchasePriceMainActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activity.PurchasePrice.AddPurchasePirceActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="x2Am9qdyhGSz0Gm0frlYYxLCZqSfFiN0" />

    </application>



</manifest>